/* #Header
================================================== */
.header .header-menu ul li:not(:last-child) {
  margin-left: 2vw;
  margin-right: 0;
}

.header .header-search {
  margin-right: 0;
  margin-left: 1.25vw;
}

.header .header-lang {
  margin-right: 0;
  margin-left: 1.25vw;
}

@media (max-width: 1023.98px) {
  .header .container {
    flex-direction: row-reverse;
  }

  .header .header-search {
    margin-left: 6vw;
    margin-right: 0;
  }

  .header .header-lang {
    margin: 0;
  }

  .banner-scroll {
    left: auto;
    right: 5.5%;
  }
}

/* #Arrow
================================================== */
.arrow-right svg {
  transform: rotate(180deg);
}

/* #Posts Slider
================================================== */
.posts-slider .post-card a {
  margin-right: auto;
  margin-left: 1.5vw;
  text-align: left;
}

@media (max-width: 1023.98px) {
  .posts-slider .container {
    padding-right: 5.5%;
    padding-left: 0;
  }

  .posts-slider .swiper-slide {
    padding-left: 6vw;
    padding-right: 0;
  }

  .posts-slider h2 {
    direction: rtl;
    text-align: right;
  }
}

/* #Banner
================================================== */
.banner .text {
  right: 15%;
  left: 0;
}

.banner .img {
  margin-left: 0;
  margin-right: auto;
}

.homepage .banner-bg {
  left: 0;
  right: -10.4vw;
}

/* #Clients
================================================== */
.clients {
  direction: ltr;
}

.clients h2 {
  direction: rtl;
}

/* #Features Tabs
================================================== */
.features-tabs .text {
  padding: 0 7.3vw 0 3.125vw;
}

.features-tabs .tabs {
  padding-right: 0;
  padding-left: 7.55vw;
}

.features-tabs .tab-navigation {
  margin-right: 0;
  margin-left: 10.4vw;
}

.features-tabs .tab-btn::after {
  left: auto;
  right: -4.7vw;
}

@media (max-width: 1023.98px) {
  .features-tabs .tabs {
    padding-right: 0;
    padding-left: 0;
  }

  .features-tabs .tab-navigation {
    margin-left: 0;
    margin-right: 0;
  }

  .features-tabs .tab-btn {
    margin-left: 4vw;
    margin-right: 0;
  }
}

/* #Media Boxes
================================================== */
.media-boxes {
  direction: ltr;
}

.media-boxes .text {
  direction: rtl;
}

/* #Footer
================================================== */
.footer-back-to-top {
  margin-left: 0;
  margin-right: 3vw;
}

.footer-menu li:not(:last-child) {
  margin-right: 0;
  margin-left: 1.8vw;
}

.footer-logo {
  padding-left: 4vw;
  padding-right: 0;
}

@media (max-width: 1023.98px) {
  .footer-top input {
    text-align: right;
  }
}

/* #FAQ
================================================== */
.faq .chevron-down {
  margin-right: .5vw;
  margin-left: 0;
}

.product-description .download-link svg {
  margin-right: .5vw;
  margin-left: 0;
}

@media (max-width: 1023.98px) {
  .product-description .download-link svg {
    margin-right: 4vw;
    margin-left: 0;
  }
}

/* #Product Info
================================================== */
@media (max-width: 1023.98px) {
  .product-info .swiper-prev, .product-info .swiper-next {
    transform: rotate(0);
  } 
  
  .product-info .swiper-prev, .product-info .swiper-prev {
    transform: rotate(180deg);
  }

  .product-info .swiper-next {
    margin-right: 6.66vw;
    margin-left: 0;
  }
}

/* #Products
================================================== */
.products-page .banner-bg {
  left: 0;
}

.products-slider .swiper-prev {
  transform: rotate(180deg);
}

.products-slider .swiper-next {
  transform: rotate(0);
  margin-right: 1.3vw;
  margin-left: 0;
}

.products-slider.alt .swiper-next {
  transform: rotate(180deg);
}

.products-slider.alt .swiper-prev {
  transform: rotate(0);
}

/* #Jobs Page
================================================== */
.jobs-page .banner-bg {
  left: 0;
  z-index: -1;
}

.open-jobs .icons img {
  margin-right: 0;
  margin-left: .5vw;
}

.open-jobs .collapse-toggler .simbol .icon img {
  margin-right: .4vw;
  margin-left: 0;
}

.open-jobs .collapse-toggler {
  left: 2.8vw;
  right: auto;
}

.open-jobs .collapsible::after {
  left: auto;
  right: 0;
}

.open-jobs .collapsible {
  padding: 2.8vw 4vw 2.8vw 2.8vw;
}

@media (max-width: 1023.98px) {
  .open-jobs .icons img {
    margin-right: 0;
    margin-left: 2.66vw;
  }

  .open-jobs .show-more img {
    margin-right: 2vw;
    margin-left: 0;
  }

  .open-jobs .collapse-toggler .simbol .icon img {
    margin-right: 2vw;
    margin-left: 0;
  }

  .job-requirements .swiper-next {
    transform: rotate(0);
  } 
  
  .job-requirements .swiper-prev {
    transform: rotate(180deg);
  }

  .job-requirements .swiper-next {
    margin-right: 6.66vw;
    margin-left: 0;
  }

  .open-jobs .collapsible {
    padding: 11.6vw 10.6vw 11.6vw 6.66vw;
  }  

  .open-jobs .icons {
    padding-left: 10vw;
    padding-right: 0;
  }
}

/* #Kosher Page
================================================== */
.kosher-page .banner-bg {
  left: 0;
  z-index: -1;
}

/* #Vision Page
================================================== */
.media-boxes-1 .download-link img {
  margin-right: 0;
  margin-left: 1.3vw;
}

.quality .swiper-prev {
  transform: rotate(180deg);
}

.quality .swiper-next {
  transform: rotate(0);
  margin-right: 1.3vw;
  margin-left: 0;
}

@media (max-width: 1023.98px) {
  .media-boxes-1 .download-link img {
    margin-right: 0;
    margin-left: 5.33vw;
  }

  .media-boxes .text {
    text-align: right;
  }

  .quality .swiper-next {
    margin-right: 3.33vw;
  }
}

/* #About Us Page
================================================== */
.about-banner .swiper-next {
  transform: none;
  margin-right: 1.3vw;
  margin-left: 0;
}

.about-banner .swiper-prev {
  transform: rotate(180deg);
}

@media (min-width: 1024px) {
  .text-2 {
    margin-right: 49%;
    margin-left: 0;
  }
  
  .text-2 p::after {
    right: 0;
    left: auto;
  }

  .about-banner .swiper-arrows {
    justify-content: flex-start;
  }
}

@media (max-width: 1023.98px) {
  .about-banner .banner-scroll {
    padding-left: 5.33vw;
    padding-right: 0;
  }

  .about-banner .swiper-next {
    margin-right: 3.33vw;
  }
}

/* #Team Page
================================================== */
.team-page .banner .img img, .team-page .banner .img picture {
  margin-right: auto;
  margin-left: 0;
}