/* #Fonts
================================================== */
@font-face {
  font-family: 'open-sans';
  font-weight: 200;
  src: url("../font/OpenSans-Light.ttf");
}

@font-face {
  font-family: 'open-sans';
  font-weight: 400;
  src: url("../font/OpenSans-Regular.ttf");
}

@font-face {
  font-family: 'open-sans';
  font-weight: 700;
  src: url("../font/OpenSans-Bold.ttf");
}

/* #Global
================================================== */
body {
  font-family: 'open-sans', sans-serif;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: 0;
  max-width: 100%;

  padding-top: 8.95vw;
}

@media (max-width: 1023.98px) {
  body {
    padding-top: 19.6vw;
  }
}

body.no-scroll {
  overflow: hidden;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
  box-shadow: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

figure {
  margin: 0;
  padding: 0;
}

img,
video,
picture {
  max-width: 100%;
  display: block;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

input,
textarea,
button {
  font-family: inherit;
}

/* #Utilities
================================================== */
.container {
  margin: 0 auto;
}

.d-desktop {
  display: block;
}

.d-mobile {
  display: none;
}

.m-0 {
  margin: 0!important;
}

.my-0 {
  margin-top: 0!important;
  margin-bottom: 0!important;
}

.mr-auto {
  margin-right: auto!important;
}

.p-0 {
  padding: 0!important;
}

@media (max-width: 1023.98px) {
  .d-desktop {
    display: none;
  }

  .d-mobile {
    display: block;
  }

  .d-none-mobile {
    display: none !important;
  }
}

/* #Typography
================================================== */
/* Font Desktop (f-d) */
.f-d-1 {
  font-size: 0.83vw !important;
  /* 16px */
}

.f-d-2 {
  font-size: 1.04vw !important;
  /* 20px */
}

.f-d-3 {
  font-size: 1.3vw !important;
  /* 25px */
}

.f-d-4 {
  font-size: 1.56vw !important;
  /* 30px */
}

.f-d-5 {
  font-size: 1.82vw !important;
  /* 35px */
}

.f-d-6 {
  font-size: 2.08vw !important;
  /* 40px */
}

.f-d-7 {
  font-size: 2.6vw !important;
  /* 50px */
}

.f-d-8 {
  font-size: 3.38vw !important;
  /* 65px */
}

.f-d-9 {
  font-size: 4.68vw !important;
  /* 90px */
}

/* Font Mobile (f-m) */
@media (max-width: 1023.98px) {
  .f-m-1 {
    font-size: 4vw !important;
    /* 30px */
  }

  .f-m-2 {
    font-size: 4.66vw !important;
    /* 35px */
  }

  .f-m-3 {
    font-size: 6vw !important;
    /* 45px */
  }

  .f-m-4 {
    font-size: 7.33vw !important;
    /* 55px */
  }

  .f-m-5 {
    font-size: 9.33vw !important;
    /* 70px */
  }
}

.light {
  font-weight: 200 !important;
}

.regular {
  font-weight: 400 !important;
}

.bold {
  font-weight: 700 !important;
}

.text-left {
  text-align: left!important;
}

.text-center {
  text-align: center!important;
}

.text-green-light {
  color: #8ED974!important;
}

.text-green-dark {
  color: #0A4133!important;
}

.text-gray {
  color: #B0B0B0!important;
}

.text-gray-dark {
  color: #6B6969!important;
}

.arrow-right svg {
  width: .4vw;
  vertical-align: middle;
}

.chevron-down {
  display: inline-flex;
}

.chevron-down svg {
  width: 1vw;
  vertical-align: middle;
}

.ratio-16-9 {
  position: relative;
  padding-top: 56.25%;
  width: 100%;
}

.ratio-8-5 {
  position: relative;
  padding-top: 62.5%;
  width: 100%;
}

.ratio-16-9 > *,
.ratio-8-5 > * {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
}

@media (max-width: 1023.98px) {
  .arrow-right svg {
    width: 1.33vw;
  }

  .chevron-down svg {
    width: 4vw;
  }
}

/* #Buttons & Links
================================================== */
.btn {
  height: 2.85vw;
  font-size: 1.04vw;
  padding: 0 2vw;
  border: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 500px;
  transition: all .3s ease;
  border: 1px solid transparent;
}

.btn-primary {
  background-color: #8ED974;
  color: white;
}

.btn-primary:hover {
  background-color: #0A4133;
  border: 1px solid white;
}

.btn-secondary {
  color: white;
  background-color: #0A4133;
}

.btn-secondary:hover {
  background-color: #8ED974;
  border: 1px solid white;
}

@media (max-width: 1023.98px) {
  .btn {
    height: 10.6vw;
    font-size: 4vw;
    padding: 0 12vw;
  }
}

/* #Header
================================================== */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  padding: 1.56vw 0;
  color: #0A4133;
  background-color: #F1FAEE;
  transition: all .3s ease;
}

/* Header Scroll Effect */

.header.header-dark,
.header.header-scroll {
  color: white;
  background-color: #0A4133;
}

.header.header-dark .header-btn,
.header.header-scroll .header-btn {
  background-color: #8ED974;
}

.header.header-dark .header-btn:hover,
.header.header-scroll .header-btn:hover {
  background-color: #0A4133;
  border: 1px solid white;
}

.header.header-dark .header-action,
.header.header-scroll .header-action {
  color: #8ED974;
}

.header.header-dark .header-search svg,
.header.header-scroll .header-search svg {
  stroke: #8ED974;
  color: #8ED974;
  fill: #8ED974;
}

.header.header-dark .logo-dark,
.header.header-scroll .logo-dark {
  opacity: 0;
}

.header.header-scroll .header-logo img {
  width: 70%;
}

/* Header Styles */

.header .container {
  width: 93%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.header .header-logo {
  width: 10.67vw;
  position: relative;
}

.header .header-logo img {
  width: 100%;
  transition: all .3s ease;
}

.header .logo-dark {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  transition: all .3s ease;
}

.header .header-menu ul {
  display: flex;
} 

.header .header-menu ul li:not(:last-child) {
  margin-right: 2vw;
}

.header .header-menu a {
  padding-bottom: .85vw;
  border-bottom: 2px solid transparent;
  display: block;
}

.header .header-menu a.active {
  border-bottom: 2px solid #8ED974;
}

.header .header-action {
  display: flex;
  align-items: center;
  padding-bottom: .3vw;
}

.header .header-search {
  width: 1.25vw;
  margin-right: 1.25vw;
}

.header .header-search a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header .header-search svg {
  stroke: #0A4133;
  color: #0A4133;
  fill: #0A4133;
  transition: all .3s ease;
}

.header .header-lang {
  margin-right: 2.85vw;
}

.header-hamburger {
  display: none;
}

.header .header-action {
  transition: all .3s ease;
  color: #0A4133;
}

.header .header-btn {
  background-color: #0A4133;
  color: white;
  transition: all .3s ease;
}

.header .header-btn:hover {
  background-color: #8ED974;
  border: 1px solid white;
}

@media (max-width: 1023.98px) {
  .header {
    padding: 2.66vw 0;
  }

  .header.header-scroll .header-logo img {
    width: 100%;
  }
  
  .header-hamburger {
    display: block;
  }

  .header-hamburger svg {
    width: 8.4vw;
  }
  
  .header-hamburger svg * {
    color: #0A4133!important;
    stroke: #0A4133!important;
  }

  .header-dark .header-hamburger svg *,
  .header-scroll .header-hamburger svg * {
    color: #8ED974!important;
    stroke: #8ED974!important;
  }

  .header .header-menu {
    position: fixed;
    top: 19.6vw;
    left: 0;
    height: 100%;
    width: 60%;
    background-color: #F1FAEE;
    padding: 5.33vw;
    transform: translateX(-100%);
    transition: all .3s ease;
  }

  .header.header-dark .header-menu,
  .header.header-scroll .header-menu {
    background-color: #0A4133;
  }

  .header.show-menu .header-menu {
    transform: translateX(0);
  }

  .header .header-menu ul {
    display: block;
  }

  .header .container {
    width: 89%;
    align-items: center;
  }
  
  .header .header-logo {
    width: 26vw;
    margin-right: 11vw;
  }

  .header .header-search {
    width: 6.66vw;
    margin-right: 6vw;
  }

  .header .header-action {
    order: -1;
  }

  .header .header-menu a {
    display: inline-block;
  }

  .header .header-menu a.btn {
    display: inline-flex;
  }

  .header .header-menu ul li:not(:last-child) {
    margin-right: 0;
    margin-bottom: 4vw;
  }
}

/* #Footer
================================================== */
.footer {
  position: relative;
  color: white;
  padding: 5.7vw 0 2.35vw 0;
  overflow: hidden;
}

.footer .container {
  width: 93%;
}

.footer-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.footer-bg picture,
.footer-bg picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.footer-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 4.7vw;
}

.footer-top h2 {
  margin-bottom: 1.56vw;
}

.footer-top a {
  text-decoration: underline;
}

.footer-top form {
  margin-top: 4.4vw;
  display: flex;
  flex-wrap: wrap;
  width: 58.85vw;
}

.footer-top .form-group {
  flex-grow: 1;
}

.footer-top .form-group-text {
  flex: 0 0 100%;
  margin: 2.85vw 0;
}

.footer-top .form-group-input {
  margin-right: 2vw;
}

.footer-top .form-group-input:nth-child(4) {
  margin-right: 0;
}

.footer-top label,
.footer-top input,
.footer-top textarea {
  display: block;
  width: 100%;
  font-size: inherit;
}

.footer-top label,
.footer-top input {
  text-align: center;
}

.footer-top input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid white;
  color: white;
  padding: .5vw;
}

.footer-top input::placeholder {
  color: white;
}

.footer-top textarea {
  background-color: transparent;
  border: 1px solid white;
  color: white;
  padding: .75vw;
}

.footer-top textarea::placeholder {
  color: white;
}

.footer-bottom {
  display: flex;
  align-items: flex-end;
}

.footer-logo {
  margin: 0 auto;
  padding-right: 4vw;
}

.footer-logo img {
  width: 13.3vw;
}

.footer-back-to-top {
  width: 2.86vw;
  margin-left: 3vw;
  transform: translateY(25%);
}

.footer-menu ul {
  display: flex;
}

.footer-menu li:not(:last-child) {
  margin-right: 1.8vw;
}

.form-group-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1023.98px) {
  .footer {
    padding: 13.3vw 0 17.3vw 0;
  }
  
  .footer .container {
    width: 89%;
  }
  
  .footer-top {
    display: block;
    margin-bottom: 13.3vw;
  }

  .footer-top h2 {
    margin-bottom: 4vw;
  }

  .footer-top p {
    max-width: 65%;
    margin-bottom: 4vw;
  }
  
  .footer-top p span {
    display: block;
  }

  .footer-top form {
    margin-top: 8.6vw;
    width: 100%;
    display: block;
  }
  
  .footer-top .form-group:not(:last-child) {
    margin-bottom: 8vw;
  }
  
  .footer-top .form-group-text {
    margin: 0;
  }
  
  .footer-top .form-group-input {
    margin-right: 0;
  }
  
  .footer-top input {
    text-align: left;
  }
  
  .footer-top label {
    margin-bottom: 0;
  }
  
  .footer-top input {
    padding: 2vw 0;
  }
  
  .footer-top textarea {
    padding: 2vw;
  }

  .footer-bottom {
    padding-top: 13.3vw;
    position: relative;
  }

  .footer-bottom::after {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    width: 120%;
    background-color: white;
  }

  .footer-bottom {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .footer-logo {
    margin: 0 auto 8vw auto;
    padding-right: 0;
    order: -1;
  }
  
  .footer-logo img {
    width: 42vw;
  }
  
  .footer-back-to-top {
    width: 9.3vw;
    margin-left: 0;
    transform: 0;

    position: absolute;
    bottom: 23vw;
    right: 0;
  }

  .footer-menu:first-of-type {
    margin-bottom: 16.6vw;
  }

  .footer-menu ul {
    display: block;
    text-align: center;
  }
  
  .footer-menu li:not(:last-child) {
    margin-right: 0;
    margin-bottom: 8vw;
  }
}

/* #Tabs
================================================== */
.tabs .tab-panel {
  height: 0;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;

  transition: opacity .8s ease, visibility .8s ease;
}

.tabs .tab-panel.active {
  height: auto;
  opacity: 1;
  visibility: visible;
}

/* #Accordion
================================================== */
.accordion .simbol .minus {
  display: none;
}

.accordion .show .simbol .minus {
  display: block;
}

.accordion .show .simbol .plus {
  display: none;
}

.accordion .collapse {
  overflow: hidden;
  height: 0;
}

/* #Swiper Pagination
================================================== */
.swiper-pagination {
  bottom: 0!important;
}

.swiper-pagination-bullet {
  background: white;
  opacity: .3;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background: white;
}


/* #Banner
================================================== */
.banner {
  background-color: #F1FAEE;
  color: #0A4133;
  position: relative;
}

.banner.banner-dark {
  color: white;
  background-color: #0A4133;
}

.banner.banner-light {
  background-color: #F1FAEE;
  color: #0A4133;
}

.banner .img {
  width: 66%;
  margin-left: auto;
}

.banner .img img {
  width: 100%;
}

.banner .text {
  width: 29.1vw;
  position: absolute;
  top: 50%;
  left: 15%;
  transform: translateY(-50%);
  z-index: 1;
}

.banner h1 {
  line-height: 1.1;
  margin-bottom: 1vw;
  text-transform: uppercase;
}

.banner p {
  margin-bottom: 1.5vw;
}

.banner a:not(.btn) {
  display: block;
}

.banner-scroll {
  display: none;
}

@media (max-width: 1023.98px) {
  .banner {
    overflow: hidden;
  }

  .banner-scroll {
    display: block;
    position: absolute;
    width: 8.25vw;
    left: 5.5%;
    bottom: 20vw;
  }

  .banner .container {
    position: relative;
    z-index: 2;
    padding-bottom: 20vw;
  }

  .banner .text {
    width: 89%;
    margin: 0 auto;
    position: static;
    transform: none;
    padding: 4vw 0 8vw 0;
  }

  .banner .img {
    width: 82%;
  }

  .banner h1 {
    margin-bottom: 4vw;
    max-width: 75%;
  }

  .banner p {
    margin-bottom: 6.66vw;
  }
}

/* #Media Boxes
================================================== */
.media-boxes {
  background-color: #F1FAEE;
}

.media-box {
  display: flex;
  align-items: center;
}

.media-box .img img {
  width: 100%;
}

.media-box:first-of-type {
  margin-bottom: 4.68vw;
}

.media-box:last-of-type {
  flex-direction: row-reverse;
}

@media (max-width: 1023.98px) {
  .media-box {
    display: block;
    padding-bottom: 10vw;
  }

  .media-box:first-of-type {
    margin-bottom: 16vw;
  }

  .media-box:first-of-type .img {
    width: 100%!important;
  }
  
  .media-box:last-of-type .img {
    width: 100%!important;
  }

  .media-box .text {
    width: 89%!important;
    text-align: center;
    margin: 0 auto;
  }
}

/* #Features Tabs
================================================== */
.features-tabs {
  background-color: #F1FAEE;
  padding: 5.2vw 0;
  overflow: hidden;
}

.features-tabs .container {
  display: flex;
  align-items: center;
}

.features-tabs .img {
  flex: 0 0 42.5%;
}

.features-tabs .img img {
  width: 100%;
}

.features-tabs .text {
  padding: 0 3.125vw 0 7.3vw;
}

.features-tabs .text > .btn {
  margin-top: 3vw;
}

.features-tabs .tabs {
  margin-top: 6.5vw;
  display: flex;
  padding-right: 7.55vw;
}

.features-tabs .tab-navigation {
  flex: 0 0 9.37vw;
  margin-right: 10.4vw;
}

.features-tabs .tab-panel h3 {
  margin-bottom: 1vw;
}

.features-tabs .tab-panel p {
  margin-bottom: 1vw;
}

.features-tabs .tab-panel a {
  text-decoration: underline;
  color: #0A4133;
}

.features-tabs .tab-btn {
  color: #0A4133;
  transition: all .3s ease;
  position: relative;
}

.features-tabs .tab-btn::after {
  content: '';
  position: absolute;
  left: -4.7vw;
  top: 50%;
  width: 3.6vw;
  height: 1px;
  background-color: #8ED974;
  opacity: 0;
  transition: all .3s ease;
}

.features-tabs .tab-btn.active {
  color: #8ED974;
}

.features-tabs .tab-btn.active::after {
  opacity: 1;
}

.features-tabs .tab-btn:not(:last-child) {
  margin-bottom: 1vw;
}

@media (max-width: 1023.98px) {
  .features-tabs {
    padding: 10vw 0;
  }

  .features-tabs .container {
    display: flex;
    flex-direction: column-reverse;
    align-items: stretch;
  }

  .features-tabs .img {
    flex: 0 0 100%;
    margin-bottom: 6vw;
  }

  .features-tabs .text {
    padding: 0 5.5%;
  }

  .features-tabs .tabs {
    margin-top: 8vw;
    display: block;
    padding-right: 0;
  }

  .features-tabs .tab-navigation {
    flex: 0 0 100%;
    margin-right: 0;
    margin-bottom: 6.33vw;
    padding-bottom: 3vw;

    display: flex;
    white-space: nowrap;
    overflow: auto;
  }
  
  .features-tabs .tab-panel h3 {
    margin-bottom: 4vw;
  }
  
  .features-tabs .tab-panel p {
    margin-bottom: 6.66vw;
  }

  .features-tabs .tab-btn {
    display: inline-flex;
    margin-right: 4vw;
  }
  
  .features-tabs .tab-btn::after {
    left: 0;
    top: auto;
    bottom: -2vw;
    width: 100%;
  }
  
  .features-tabs .tab-btn:not(:last-child) {
    margin-bottom: 0;
  }
}

/* #Posts Slider
================================================== */
.posts-slider {
  background-color: #F1FAEE;
  padding-top: 4.15vw;
  padding-bottom: 10vw;

  background-image: url('../img/global/posts-slider-bg.svg');
  background-repeat: no-repeat;
  background-position: bottom;
}

.posts-slider .container {
  width: 85%;
}

.posts-slider h2 {
  text-align: right;
  width: 40vw;
  line-height: 1.1;
  margin-left: auto;
  margin-bottom: 3.6vw;
}

.posts-slider .swiper-container {
  margin: -30px;
}

.posts-slider .swiper-slide {
  padding: 30px;
  padding-right: 2vw;
}

.posts-slider .swiper-pagination {
  display: none;
}

.posts-slider .post-card {
  box-shadow: 7px 17px 27px rgba(0, 0, 0, .07);
  padding: 1.3vw;
  border-radius: 5px;
  background-color: white;
}

.posts-slider .post-card img {
  width: 100%;
  margin-bottom: 1vw;
}

.posts-slider .post-card p {
  margin-bottom: 1.8vw;
}

.posts-slider .post-card a {
  text-align: right;
  display: block;
  margin-right: 1.5vw;
}

@media (max-width: 1023.98px) {
  .posts-slider {
    padding-top: 5vw;
    padding-bottom: 28vw;
    overflow: hidden;
  
    background-image: url('../img/global/posts-slider-bg-mobile.svg');
    background-position: top left;
    background-size: 100% auto;
  }
  
  .posts-slider .container {
    width: 100%;
    padding-left: 5.5%;
  }

  .posts-slider .swiper-pagination {
    display: block;
  }

  .posts-slider h2 {
    text-align: left;
    width: 100%;
    margin-left: 0;
    margin-bottom: 5.33vw;
    margin-top: 2vw;
  }

  .posts-slider .swiper-container {
    margin: -30px 0;
  }
  
  .posts-slider .swiper-slide {
    padding-right: 6vw;
    padding-left: 0;
  }

  .posts-slider .post-card {
    padding: 4vw;
  }
  
  .posts-slider .post-card img {
    margin-bottom: 4vw;
  }
  
  .posts-slider .post-card p {
    margin-bottom: 4vw;
  }
  
  .posts-slider .post-card a {
    margin-right: 0;
  }
}

/* #Clients
================================================== */
.clients {
  background-color: #F1FAEE;
  padding: 7.8vw 0 5.2vw 0;
  position: relative;
  overflow: hidden;
}

.clients::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: -9.5vw;
  width: 35.9vw;
  height: 26.8vw;
  background-image: url('../img/home/banner-bg.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.clients .container {
  width: 85%;
  padding-right: 11vw;
  position: relative;
}

.clients .swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

@media (min-width: 1024px) {
  .clients h2 {
    width: 31.25vw;
    position: absolute;
    bottom: 6.25vw;
    right: 11vw;
  }

  .clients .swiper-wrapper {
    display: flex;
    flex-wrap: wrap;
  }
  
  .clients .swiper-slide {
    width: 11.7vw!important;
    height: 11.7vw!important;
    margin-right: .5vw;
    margin-bottom: .5vw;
  }
  
  .clients .swiper-slide:nth-child(9) {
    margin-right: 30vw;
  }
}

@media (max-width: 1023.98px) {
  .clients {
    padding: 10vw 0 20vw 0;
  }

  .clients::after {
    bottom: auto;
    top: 0;
    right: -20vw;
    width: 104vw;
    height: 77.33vw;
  }

  .clients .container {
    width: 100%;
    padding-right: 0;
  }

  .clients h2 {
    width: 89%;
    margin: 0 auto 8vw auto;
    text-align: center;
  }

  .clients .swiper-slide {
    height: auto;
    padding: 0 3vw;
  }
}

/* #FAQ
================================================== */
.faq {
  padding: 2vw 0 2.6vw 0;
}

.faq .container {
  width: 85%;
}

.faq h2 {
  margin-bottom: 2vw;
}

.faq .collapsible {
  background-color: white;
  border-radius: 1vw;
  width: 74%;
  box-shadow: -3px 3px 24px rgba(0, 0, 0, .06);
}

.faq .collapsible:not(:last-child) {
  margin-bottom: 1.5vw;
}

.faq .collapse-toggler {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2vw 1.5vw;
  user-select: none;
  cursor: pointer;
}

.faq .simbol {
  display: flex;
  align-items: center;
  color: #0A4133;
}

.faq .chevron-down {
  margin-left: .5vw;
  transition: all .5s ease;
}

.faq .show .chevron-down {
  transform: rotate(180deg);
} 

.faq .collapse > div {
  padding: 0 1.5vw 2vw 1.5vw;
}

@media (max-width: 1023.98px) {
  .faq {
    padding: 10vw 0;
  }
  
  .faq .container {
    width: 89%;
  }

  .faq h2 {
    margin-bottom: 8vw;
    text-align: center;
  }
  
  .faq .collapsible {
    border-radius: 2.66vw;
    width: 100%;
  }

  .faq .collapsible:not(:last-child) {
    margin-bottom: 5.33vw;
  }
  
  .faq .collapse-toggler {
    padding: 4vw;
  }

  .faq .collapse > div {
    padding: 0 4vw 4vw 4vw;
  }

  .faq .plus,
  .faq .minus {
    display: none!important;
  }

  .faq .simbol {
    padding-left: 2vw;
  }
}

/* #Products Slider
================================================== */
.products-slider {
  padding: 4.16vw 0 0 0;
  text-align: center;
  position: relative;
}

.products-slider.alt {
  background-color: #D2F0C7;
}

.products-slider h2 {
  margin-bottom: 2vw;
}

.products-slider .swiper-arrows {
  margin-top: 5vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.products-slider .swiper-prev,
.products-slider .swiper-next {
  width: 1.3vw;
  cursor: pointer;
}

.products-slider .swiper-next {
  transform: rotate(180deg);
  margin-left: 1.3vw;
}

.products-slider .swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: auto;
}

.products-slider .swiper-slide img {
  width: 23.4vw;
  height: 23.4vw;
  object-fit: contain;
}

.products-slider .swiper-slide h3 {
  margin: 1vw 0 2vw 0;
}

.products-slider .swiper-slide p {
  max-width: 22.4vw;
  margin-bottom: 2.66vw;
}

@media (min-width: 1024px) {
  .products-slider.alt .swiper-prev,
  .products-slider.alt .swiper-next {
    position: absolute;
    top: 50%;
    left: 15%;
    z-index: 100;
  }

  .products-slider.alt .swiper-next {
    left: auto;
    right: 15%;
  }

  .products-slider.alt h2 {
    margin-bottom: 5.2vw;
  }
  
  .products-slider .container > p {
    max-width: 49.5vw;
    margin: 0 auto 2.85vw auto;
  }
  
  .products-slider.alt .swiper-container {
    width: 63%;
  }

  .products-slider.alt {
    padding: 4.16vw 0 5.25vw 0;
  }

  .products-slider.alt .swiper-arrows {
    margin-top: 0;
  }

  .products-slider.alt .swiper-slide {
    padding: 0 2.6vw;
  }

  .products-slider.alt .swiper-slide img {
    height: auto;
    width: 8.85vw;
    margin-top: auto;
  }

  .products-slider.alt .swiper-slide h3 {
    margin: 2vw 0 .75vw 0;
  }

  .products-slider.alt .swiper-slide p {
    margin-bottom: 1vw;
  }
}

@media (max-width: 1023.98px) {
  .products-slider {
    padding: 9.33vw 0 10vw 0;
  }
  
  .products-slider h2 {
    margin-bottom: 4vw;
  }

  .products-slider .swiper-arrows {
    margin-top: 12vw;
  }
  
  .products-slider .swiper-prev,
  .products-slider .swiper-next {
    width: 9.33vw;
  }
  
  .products-slider .swiper-next {
    margin-left: 6.66vw;
  }

  .products-slider .swiper-slide img {
    width: 77vw;
    height: 77vw;
  }
  
  .products-slider .swiper-slide h3 {
    margin: 2vw 0 4vw 0;
  }
  
  .products-slider .swiper-slide p {
    max-width: 90%;
    margin-bottom: 8vw;
  }

  .products-slider .container > p {
    max-width: 85%;
    margin: 0 auto 10vw auto;
  }

  .products-slider.alt .swiper-slide img {
    width: 40vw;
  }
}

/* #Product Description
================================================== */
.product-description {
  padding: 4.7vw 0 4.16vw 0;
}

.product-description .container {
  width: 85%;
}

.product-description h2 {
  text-align: center;
  margin-bottom: 3.65vw;
  line-height: 1.2;
}

.product-description .row {
  display: flex;
  justify-content: space-between;
}

.product-description .col {
  flex: 0 0 27.3vw;
}

.product-description .collapse-toggler {
  margin-bottom: .75vw;
}

.product-description .col:first-of-type .accordion:first-of-type {
  margin-bottom: 1.5vw;
}

.product-description .table {
  margin-bottom: 2vw;
}

.product-description .table p {
  display: flex;
  align-items: baseline;
  line-height: 1.6;
}

.product-description .table .line {
  flex-grow: 1;
  height: 1px;
  background-color: #E8E8E8;
  margin: 0 .5vw;
}

.product-description .download-link {
  display: flex;
  align-items: center;
  margin-top: 2.6vw;
}

.product-description .download-link svg {
  width: 1vw;
  margin-left: .5vw;
}

@media (min-width: 1024px) {
  .product-description .collapse {
    height: auto!important;
  }
}

@media (max-width: 1023.98px) {
  .product-description {
    padding: 10vw 0;
  }
  
  .product-description .container {
    width: 89%;
  }

  .product-description h2 {
    text-align: left;
    margin-bottom: 8vw;
  }

  .product-description .row {
    display: block;
  }

  .product-description .collapse-toggler {
    margin-bottom: .75vw;
    border-bottom: 2px solid #E8E8E8;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 3vw;
  }

  .product-description .col:first-of-type .accordion,
  .product-description .col:first-of-type .accordion:first-of-type {
    margin-bottom: 5vw;
  }

  .product-description .simbol {
    transition: all .5s ease;
  }

  .product-description .show .simbol {
    transform: rotate(180deg);
  }

  .product-description .collapse > div {
    margin-top: 3.33vw;
  }
}

/* #Product Info
================================================== */
.product-info {
  padding: 4.7vw 0 0 0;
  position: relative;
}

.product-info .swiper-arrows {
  margin-top: 5vw;
  display: none;
  align-items: center;
  justify-content: center;
}

.product-info .swiper-prev,
.product-info .swiper-next {
  width: 1.3vw;
  cursor: pointer;
}

.product-info .swiper-next {
  transform: rotate(180deg);
  margin-left: 1.3vw;
}

.product-info .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product-info .swiper-container {
  min-width: 0;
  max-width: 100%;
  min-height: 0;
  max-height: 100%;
}

.product-info .text {
  text-align: center;
  width: 49.5vw;
  margin-bottom: 1.3vw;
}

.product-info h1 {
  margin-bottom: .75vw;
}

.product-info .text p {
  margin-bottom: 1.3vw;
}

.product-info .bg {
  position: absolute;
  top: 4vw;
  left: 0;
  width: 100%;
  z-index: -1;
}

.product-info .bg picture,
.product-info .bg img {
  width: 100%;
}

.product-info .img {
  width: 32.5vw;
}

.product-info .img img {
  width: 100%;
}

.product-info .swiper-slide img {
  width: 3.65vw;
  margin-bottom: .75vw;
}

.product-info .swiper-slide p.bold {
  margin-bottom: .67vw;
}

@media (min-width: 1024px) {
  .product-info .swiper-container {
    position: absolute;
    bottom: 8.5vw;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
  }

  .product-info .swiper-wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .product-info .swiper-slide {
    flex: 0 0 50%;
  }

  .product-info .swiper-slide:nth-child(1),
  .product-info .swiper-slide:nth-child(3) {
    display: flex;
    flex-direction: column;
    text-align: right;
    align-items: flex-end;
    padding-right: 17.5vw;
  } 

  .product-info .swiper-slide:nth-child(2),
  .product-info .swiper-slide:nth-child(4) {
    padding-left: 17.5vw
  } 

  .product-info .swiper-slide:nth-child(1),
  .product-info .swiper-slide:nth-child(2) {
    margin-bottom: 5.2vw;
  }

  .product-info .text {
    order: -1;
  }
}

@media (max-width: 1023.98px) {
  .product-info {
    padding: 5.33vw 0 10vw 0;
  }

  .product-info .swiper-arrows {
    margin-top: 8vw;
    display: flex;
  }
  
  .product-info .swiper-prev,
  .product-info .swiper-next {
    width: 9.33vw;
  }
  
  .product-info .swiper-next {
    margin-left: 6.66vw;
  }

  .product-info .img {
    width: 61.3vw;
  }

  .product-info .text {
    width: 77.3vw;
    margin-bottom: 16vw;
  }

  .product-info .swiper-slide {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 3vw;
  }

  .product-info .swiper-slide img {
    width: 25.3vw;
    margin-bottom: 4vw;
  }
  
  .product-info .swiper-slide p {
    width: 100%;
  }
  
  .product-info .swiper-slide p.bold {
    margin-bottom: 4vw;
  }

  .product-info h1 {
    margin-bottom: 4vw;
  }

  .product-info .text p {
    margin-bottom: 8vw;
  }

  .product-info .bg {
    top: 0;
  }
}

/* #Homepage
================================================== */
.homepage {
  background-color: #0A4133;
}

/* Banner */
.homepage .banner-bg {
  width: 41.6vw;
  position: absolute;
  left: -10.4vw;
  bottom: 4.65vw;
}

/* Media Boxes */
.homepage .media-boxes {
  overflow: hidden;
}

.homepage .media-boxes .text {
  width: 28.1vw;
}

.homepage .media-boxes h2 {
  line-height: 1.2;
  margin: 1.5vw 0 .75vw 0;
}

.homepage .media-boxes .btn {
  margin-top: 3.4vw;
}

.homepage .media-box:first-of-type .img {
  width: 55%;
  margin-right: 4.16vw;
}

.homepage .media-box:first-of-type {
  position: relative;
}

.homepage .media-box:first-of-type::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: -9.5vw;
  width: 35.9vw;
  height: 26.8vw;
  background-image: url('../img/home/banner-bg.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.homepage .media-box:last-of-type .img {
  width: 61%;
  margin-left: -4.16vw;
}

@media (max-width: 1023.98px) {

  /* Banner */
  .homepage .banner-bg {
    width: 118vw;
    left: auto;
    right: -42.6vw;
    bottom: auto;
    top: 0;
  }

  .homepage .banner::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 55vw;
    background-color: #F1FAEE;
  }

  /* Media Boxes */
  .homepage .media-box .img {
    margin-bottom: -13.3vw;
  }

  .homepage .media-box:first-of-type .img {
    margin-right: 0;
  }

  .homepage .media-box:last-of-type .img {
    margin-left: 0;
  }

  .homepage .media-boxes h2 {
    margin: 4vw 0;
  }
  
  .homepage .media-boxes .btn {
    margin-top: 8vw;
  }

  .homepage .media-box:first-of-type::after {
    display: none;
  }
}

/* #Product Page
================================================== */
.product-page {
  background-color: #F1FAEE;
}

/* Features Tabs */
.product-page .features-tabs .tabs {
  margin-top: 3vw;
}

@media (max-width: 1023.98px) {
  .product-page .features-tabs .tabs {
    margin-top: 8vw;
  }
}

/* #Products Page
================================================== */
.products-page {
  background-color: #F1FAEE;
}

/* Banner */
.products-page .banner-bg {
  width: 41.6vw;
  position: absolute;
  left: -10.4vw;
  bottom: -13.35vw;
}

/* Products Slider */
.products-page .products-slider {
  margin-bottom: 7.55vw;
}

.products-page .products-slider.alt {
  margin-bottom: 0;
}

@media (max-width: 1023.98px) {
  /* Banner */
  .products-page .banner-bg {
    width: 118vw;
    left: auto;
    right: -42.6vw;
    bottom: auto;
    top: 0;
  }

  .products-page .banner::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 55vw;
    background-color: #F1FAEE;
  }

  .products-page .banner .container {
    padding-bottom: 4vw;
  }

  .products-page .banner-scroll {
    bottom: 4vw;
  }
}

/* #Kosher Page
================================================== */
.kosher-page {
  background-color: #F1FAEE;
}

/* Banner */
.kosher-page .banner-bg {
  width: 41.6vw;
  position: absolute;
  left: -10.4vw;
  bottom: -13.35vw;
}

/* Media Boxes */
.kosher-page .media-boxes {
  padding-bottom: 5.2vw;
}

.kosher-page .media-boxes .text {
  width: 39.8vw;
}

.kosher-page .media-box:first-of-type .img {
  width: 47%;
  margin-right: 4.4vw;
}

.kosher-page .media-box:last-of-type .img {
  width: 44%;
  margin-left: 1vw;
}

.kosher-page .media-boxes h2 {
  margin-bottom: .75vw;
}

.kosher-page .media-boxes .btn {
  margin-top: 2vw;
}

@media (max-width: 1023.98px) {
  /* Banner */
  .kosher-page .banner-bg {
    width: 118vw;
    left: auto;
    right: -42.6vw;
    bottom: auto;
    top: 0;
  }

  .kosher-page .banner::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 55vw;
    background-color: #F1FAEE;
  }

  .kosher-page .banner .container {
    padding-bottom: 4vw;
  }

  .kosher-page .banner-scroll {
    bottom: 4vw;
  }

  /* Media Boxes */
  .kosher-page .media-boxes {
    padding-top: 5.3vw;
  }

  .kosher-page .media-box .text {
    text-align: left;
  }

  .kosher-page .media-box:first-of-type {
    margin-bottom: 0;
  }

  .kosher-page .media-boxes h2 {
    margin-bottom: 4vw;
  }

  .kosher-page .media-boxes .btn {
    margin-top: 7.33vw;
  }

  .kosher-page .media-box .img {
    margin-bottom: 10vw;
  }
}

/* #Text Section
================================================== */
.text-section {
  text-align: center;
  padding: 4.5vw 0;
}

.text-section .container {
  width: 50%;
}

.text-section h2 {
  margin-bottom: 1vw;
}

@media (max-width: 1023.98px) {
  .text-section {
    padding: 8vw 0;
  }
  
  .text-section .container {
    width: 85%;
  }
  
  .text-section h2 {
    margin-bottom: 1vw;
  }
}

/* #Jobs Page
================================================== */
.jobs-page {
  background-color: #F1FAEE;
}

/* Banner */
.jobs-page .banner-bg {
  width: 41.6vw;
  position: absolute;
  left: -10.4vw;
  bottom: -13.35vw;
}

@media (max-width: 1023.98px) {
  /* Banner */
  .jobs-page .banner-bg {
    width: 118vw;
    left: auto;
    right: -42.6vw;
    bottom: auto;
    top: 0;
  }

  .jobs-page .banner::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 55vw;
    background-color: #F1FAEE;
  }

  .jobs-page .banner .container {
    padding-bottom: 4vw;
  }

  .jobs-page .banner-scroll {
    bottom: 4vw;
  }
}

/* #Team Page
================================================== */
.team-page {
  background-color: #0A4133;
}

/* Banner */
.team-page .banner {
  padding-bottom: 7.55vw;
  overflow: hidden;
}

.team-page .banner-bg {
  width: 41.6vw;
  position: absolute;
  left: -10.4vw;
  bottom: -13.35vw;
}

.team-page .banner .img img,
.team-page .banner .img picture {
  margin-left: auto;
}

@media (min-width: 1024px) {
  .team-page .banner .img img {
    width: 53.33vw;
  }
}

@media (max-width: 1023.98px) {
  /* Banner */
  .team-page .banner {
    padding-bottom: 0;
  }

  .team-page .banner .img {
    width: 100%;
    padding: 0 5.5%;
  }

  .team-page .banner-bg {
    width: 118vw;
    left: auto;
    right: -42.6vw;
    bottom: auto;
    top: 0;
  }

  .team-page .banner .container {
    padding-bottom: 0;
  }

  .team-page .banner .text {
    padding: 4vw 0 0vw 0;
  }
}

/* #Team
================================================== */
.team {
  background-color: #F1FAEE;
  padding: 7.8vw 0;
}

.team .container {
  width: 59%;
  text-align: center;
}

.team h2 {
  margin-bottom: 1vw;
}

.team ul {
  margin-top: 8.85vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.team li {
  flex: 0 0 33.3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.8vw 3vw;
}

.team li:first-child {
  flex: 0 0 100%;
  padding: 0 22vw 1.8vw 22vw;
}

.team li .img {
  width: 12.2vw;
  margin-bottom: 1vw;
}

.team li .img img {
  width: 100%;
}

.team li a {
  margin-top: .75vw;
}

.team li a img {
  width: 2vw;
}

@media (max-width: 1023.98px) {
  .team {
    padding: 8vw 0 18.66vw 0;
  }
  
  .team .container {
    width: 89%;
  }

  .team h2 {
    width: 85%;
    margin: 0 auto 2vw auto;
  }

  .team ul {
    margin-top: 17.33vw;
  }
  
  .team li {
    flex: 0 0 45%;
    padding: 5.5vw 0;
  }
  
  .team li:first-child {
    padding: 0 25vw 5.5vw 25vw;
  }
  
  .team li .img {
    width: 31.3vw;
    margin-bottom: 3vw;
  }
  
  .team li a {
    margin-top: 2vw;
  }
  
  .team li a img {
    width: 5.33vw;
  }
}

/* #Job Requirements
================================================== */
.job-requirements {
  padding: 4.5vw 0 6.77vw 0;
}

.job-requirements .container {
  width: 79%;
}

.job-requirements .container > .img,
.job-requirements .img img {
  width: 100%;
}

.job-requirements .container > .img {
  margin-top: 4.4vw;
}

.job-requirements .text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 4.15vw;
}

.job-requirements .text h2 {
  margin-bottom: 1vw;
}

.job-requirements .text p {
  max-width: 49.5vw;
}

.job-requirements .swiper-arrows {
  margin-top: 5vw;
  display: none;
  align-items: center;
  justify-content: center;
}

.job-requirements .swiper-prev,
.job-requirements .swiper-next {
  width: 1.3vw;
  cursor: pointer;
}

.job-requirements .swiper-next {
  transform: rotate(180deg);
  margin-left: 1.3vw;
}

.job-requirements .swiper-container {
  margin: -1.5vw 0;
}

.job-requirements .swiper-slide {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.5vw 2.8vw;
}

.job-requirements .swiper-slide .img {
  width: 2.25vw;
  margin-bottom: 0.625vw;
}

.job-requirements .swiper-slide h3 {
  margin-bottom: 1vw;
}

@media (min-width: 1024px) {
  .job-requirements .swiper-wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .job-requirements .swiper-slide {
    flex: 0 0 25%;
  }
}

@media (max-width: 1023.98px) {
  .job-requirements {
    padding: 12vw 0;
  }
  
  .job-requirements .container {
    width: 100%;
  }

  .job-requirements .container > .img {
    margin-top: 18.6vw;
  }
  
  .job-requirements .text {
    margin-bottom: 13.3vw;
    padding: 0 5%;
  }
  
  .job-requirements .text h2 {
    margin-bottom: 4vw;
  }
  
  .job-requirements .text p {
    max-width: 100%;
  }
  
  .job-requirements .swiper-container {
    margin: 0;
  }
  
  .job-requirements .swiper-slide {
    padding: 0 3vw;
  }
  
  .job-requirements .swiper-slide .img {
    width: 7.6vw;
    margin-bottom: 2.66vw;
  }
  
  .job-requirements .swiper-slide h3 {
    margin-bottom: 3.33vw;
  }

  .job-requirements .swiper-arrows {
    margin-top: 6.66vw;
    display: flex;
  }
  
  .job-requirements .swiper-prev,
  .job-requirements .swiper-next {
    width: 9.33vw;
  }
  
  .job-requirements .swiper-next {
    margin-left: 6.66vw;
  }
}

/* #Open Jobs
================================================== */
.open-jobs {
  margin-bottom: 6.77vw;
}

.open-jobs .container {
  width: 79%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.open-jobs h2 {
  margin-bottom: 3vw;
}

/* Tabs */
.open-jobs .tabs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.open-jobs .tab-navigation {
  margin-bottom: 4.16vw;
}

.open-jobs .tab-navigation,
.open-jobs .tab-navigation ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.open-jobs .tab-navigation ul {
  background-color: white;
  border-radius: 500px;
  box-shadow: 0 3px 24px rgba(0, 0, 0, .06);
}

.open-jobs .tab-btn a {
  padding: 0.625vw 3.125vw;
  display: block;
  border-radius: 500px;
}

.open-jobs .tab-btn.active a {
  background-color: #8ED974;
  color: white;
}

/* Collapsible */
.open-jobs .collapsible {
  background-color: white;
  box-shadow: 0 6px 35px rgba(0, 0, 0, .06);
  padding: 2.8vw 2.8vw 2.8vw 4vw;
  border-radius: 1vw;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.open-jobs .collapsible::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0.83vw;
  height: 100%;
  background-color: #8ED974;
}

.open-jobs .collapsible:not(:last-child) {
  margin-bottom: 2vw;
}

/* Toggler */
.open-jobs .collapse-toggler {
  position: absolute;
  bottom: 2.8vw;
  right: 2.8vw;
  cursor: pointer;
  user-select: none;
}

.open-jobs .collapse-toggler .simbol {
  display: flex;
  align-items: center;
}

.open-jobs .collapse-toggler .simbol .icon img {
  margin-left: .4vw;
  width: 1vw;
}

/* Text & Collapse */
.open-jobs .text,
.open-jobs .collapse {
  flex: 0 0 55%;
}

.open-jobs .text p.bold {
  margin-bottom: .75vw;
}

.open-jobs .collapse > *:first-child {
  margin-top: 1vw;
}

/* Icons */
.open-jobs .icons {
  flex: 0 0 12vw;
  margin-top: .7vw;
}

.open-jobs .icons ul,
.open-jobs .icons ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.open-jobs .icons img {
  height: 1.3vw;
  margin-right: .5vw;
}

/* Show More */
.open-jobs .show-more {
  display: flex;
  align-items: center;
  margin-top: 2.8vw;
}

.open-jobs .show-more img {
  margin-left: .4vw;
  width: 1vw;
}

@media (max-width: 1023.98px) {
  .open-jobs {
    margin-bottom: 19.33vw;
  }
  
  .open-jobs .container {
    width: 89%;
  }
  
  .open-jobs h2 {
    margin-bottom: 6.66vw;
  }

  /* Tabs */
  .open-jobs .tab-navigation {
    margin-bottom: 10.66vw;
  }

  .open-jobs .tab-btn a {
    padding: 2.25vw 12.66vw;
  }

  /* Collapsible */
  .open-jobs .collapsible {
    padding: 11.6vw 6.66vw 11.6vw 10.6vw;
    border-radius: 2.66vw;
  }

  .open-jobs .collapsible::after {
    width: 1.73vw;
  }

  .open-jobs .collapsible:not(:last-child) {
    margin-bottom: 5.86vw;
  }

  /* Toggler */
  .open-jobs .collapse-toggler {
    position: static;
    order: -2;
    flex: 0 0 100%;
    display: flex;
    margin: 7.33vw 0 10vw 0;
  }

  .open-jobs .collapse-toggler .simbol {
    margin-left: auto;
  }

  .open-jobs .collapse-toggler .simbol .icon img {
    margin-left: 2vw;
    width: 2.5vw;
  }

  /* Text & Collapse */
  .open-jobs .text {
    order: -4;
  }

  .open-jobs .collapse {
    order: -3;
  }

  .open-jobs .text,
  .open-jobs .collapse {
    flex: 0 0 100%;
  }

  .open-jobs .text p.bold {
    margin-bottom: 2vw;
  }

  .open-jobs .collapse > *:first-child {
    margin-top: 8vw;
  }

  /* Icons */
  .open-jobs .icons {
    order: -5;
    flex: 0 0 100%;
    margin-top: 0;
    padding-right: 10vw;
    margin-bottom: 8.66vw;
  }

  .open-jobs .icons img {
    height: 6.66vw;
    margin-right: 2.66vw;
  }

  /* Show More */
  .open-jobs .show-more {
    margin-top: 9.33vw;
  }

  .open-jobs .show-more img {
    margin-left: 2vw;
    width: 2.5vw;
  }
}

/* #About Us Page
================================================== */
.about-us-page {
  background-color: #F1FAEE;
}

/* #Responsibility
================================================== */
.responsibility {
  padding: 8.33vw 0 10vw 0;
  background-image: url('../img/about-us/responsibility-bg.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.responsibility .container {
  width: 75%;
}

.responsibility h2 {
  text-align: center;
  margin-bottom: 1.1vw;
}

@media (max-width: 1023.98px) {
  .responsibility {
    padding: 14.6vw 0 26vw 0;
    background-image: url('../img/about-us/responsibility-bg-mobile.png');
  }

  .responsibility .container {
    width: 89%;
    text-align: center;
  }

  .responsibility h2 {
    text-align: center;
    margin-bottom: 4vw;
  }
}

/* #Our Vision
================================================== */
.our-vision .top {
  position: relative;
}

.our-vision .img img {
  width: 100%;
}

.our-vision .text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 55%;
}

.our-vision .text h2 {
  margin-bottom: 1vw;
}

.our-vision .bottom {
  width: 75%;
  margin: -5.2vw auto 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 10;
}

.our-vision .bottom ul {
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0 3px 24px rgba(0, 0, 0, .16);
  margin-bottom: 3.35vw;
}

.our-vision .bottom li {
  flex: 0 0 25%;
  background-color: white;
  border-right: 1px solid #79bf5f3d;
  border-bottom: 1px solid #79bf5f3d;
  padding: 1.3vw;
  transition: background-color .3s ease;
}

.our-vision .bottom li:hover {
  background-color: #EFFFE9;
}

@media (max-width: 1023.98px) {
  .our-vision .text {
    width: 85%;
  }
  
  .our-vision .text h2 {
    margin-bottom: 2vw;
  }

  .our-vision .bottom {
    width: 93%;
    margin: -12.25vw auto 0 auto;
  }
  
  .our-vision .bottom ul {
    margin-bottom: 10vw;
  }
  
  .our-vision .bottom li {
    flex: 0 0 50%;
    padding: 3.33vw;
  }
  
  .our-vision .bottom li:hover {
    background-color: #EFFFE9;
  }
}

/* #About Banner
================================================== */
.about-banner {
  padding: 7vw 0 6vw 0;
  overflow: hidden;
  position: relative;
}

.about-banner .container {
  width: 83%;
}

/* Text 1 */
.text-1 {
  margin-left: 6.25vw;
  width: 55.2vw;
  margin-bottom: 4vw;
}

.text-1 h1 {
  margin-bottom: 1vw;
}

/* Text 2 */
.text-2 {
  margin-left: 49%;
  width: 29.3vw;
  margin-bottom: -1vw;
}

.text-2 p {
  position: relative;
  padding-top: 1.5vw;
}

.text-2 p::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 1px;
  width: 4vw;
  background-color: #8ED974;
}

/* Img */
.about-banner .img {
  width: 44.8%;
}

.about-banner .img img {
  width: 100%;
}

.about-banner .swiper-arrows {
  margin-top: 2vw;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.about-banner .swiper-prev,
.about-banner .swiper-next {
  width: 1.3vw;
  cursor: pointer;
}

.about-banner .swiper-next {
  transform: rotate(180deg);
  margin-left: 1.3vw;
}

/* Banner */
.about-banner .banner-bg {
  width: 41.6vw;
  position: absolute;
  top: 40%;
  right: -10.4vw;
}

@media (max-width: 1023.98px) {
  .about-banner {
    padding: 6.66vw 0 14.66vw 0;
    overflow: hidden;
    position: relative;
  }
  
  .about-banner .container {
    width: 100%;
  }
  
  /* Text 1 */
  .text-1 {
    margin-left: 0;
    width: 100%;
    margin-bottom: 14.66vw;
    padding: 0 5.5%;
  }
  
  .text-1 h1 {
    margin-bottom: 2vw;
  }

  /* Text 2 */
  .text-2 {
    margin-left: 0;
    width: 100%;
    margin-bottom: 13.3vw;
    display: flex;
    padding: 0 5.5%;
  }

  .text-2 p {
    padding-top: 0;
  }

  .text-2 p::after {
    display: none;
  }

  /* Img */
  .about-banner .img {
    width: 88%;
  }

  /* Banner */
  .about-banner .banner-scroll {
    position: static;
    flex: 0 0 13.3vw;
    padding-right: 5.33vw;
  }

  .about-banner .swiper-arrows {
    margin-top: 6.93vw;
  }
  
  .about-banner .swiper-prev,
  .about-banner .swiper-next {
    width: 3.33vw;
  }
  
  .about-banner .swiper-next {
    margin-left: 3.33vw;
  }

  /* Banner */
  .about-banner .banner-bg {
    width: 100vw;
    top: 3%;
    right: -45vw;
  }
}

/* #Quality
================================================== */
.quality {
  padding: 9.6vw 0 6.77vw 0;
}

.quality .container {
  width: 70%;
}

.quality h2 {
  margin-bottom: 1.5vw;
}

.quality .row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4.68vw;
}

.quality .col {
  flex: 0 0 45%;
}

.quality .swiper-container {
  margin: 0 -2.25vw;
  padding: 0 1.5vw;
}

.quality .swiper-slide {
  padding: 0 .75vw;
  height: auto;
}

.quality .swiper-slide > div {
  background-color: white;
  border-radius: 1vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  height: 100%;
  padding: 3.45vw 1.5vw;
  box-shadow: 0 25px 60px rgba(58, 101, 156, 0.13);
}

.quality .swiper-slide .icon {
  margin-bottom: 1.3vw;
}

.quality .swiper-slide .icon,
.quality .swiper-slide .icon img {
  height: 4.15vw;
}

.quality .swiper-slide h3 {
  margin-bottom: .75vw;
}

.quality .swiper-arrows {
  margin-top: 3.65vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quality .swiper-prev,
.quality .swiper-next {
  width: 1.3vw;
  cursor: pointer;
}

.quality .swiper-next {
  transform: rotate(180deg);
  margin-left: 1.3vw;
}

@media (max-width: 1023.98px) {
  .quality {
    padding: 8.26vw 0 18.6vw 0;
  }
  
  .quality .container {
    width: 89%;
  }
  
  .quality h2 {
    margin-bottom: 4vw;
  }
  
  .quality .row {
    display: block;
    margin-bottom: 9.33vw;
  }
  
  .quality .col br {
    display: none;
  }

  .quality .swiper-container {
    margin: 0 -2.25vw;
    padding: 0 1.5vw;
  }
  
  .quality .swiper-slide {
    padding: 0 2vw;
  }
  
  .quality .swiper-slide > div {
    border-radius: 2.66vw;
    padding: 8.8vw 4vw 6vw 4vw;
    box-shadow: 0 10px 30px rgba(58, 101, 156, 0.13);
  }
  
  .quality .swiper-slide .icon {
    margin-bottom: 3.33vw;
  }
  
  .quality .swiper-slide .icon,
  .quality .swiper-slide .icon img {
    height: 10.8vw;
  }
  
  .quality .swiper-slide h3 {
    margin-bottom: 2.25vw;
    font-size: 2.93vw!important;
  }
  
  .quality .swiper-slide p {
    font-size: 3.33vw!important;
  }

  .quality .swiper-arrows {
    margin-top: 7vw;
  }
  
  .quality .swiper-prev,
  .quality .swiper-next {
    width: 3.33vw;
  }
  
  .quality .swiper-next {
    margin-left: 3.33vw;
  }
}

/* #Media Boxes 1
================================================== */
.media-boxes-1 {
  margin-bottom: 7.8vw;
}

.media-boxes-1 .img {
  flex: 0 0 56%;
}

.media-boxes-1 .text {
  flex: 0 0 28%;
  margin-left: 1.9vw;
}

.media-boxes-1 .media-box:last-child .text {
  margin-left: 0;
  margin-right: 1.9vw;
}

.media-boxes-1 h2 {
  line-height: 1;
  margin-bottom: 1vw;
}

.media-boxes-1 .media-box:last-child p {
  margin-bottom: 2vw;
}

.media-boxes-1 .download-link {
  display: flex;
  align-items: center;
}

.media-boxes-1 .download-link img {
  width: 2.45vw;
  margin-right: 1.3vw;
}

@media (max-width: 1023.98px) {
  .media-boxes-1 {
    margin-bottom: 20vw;
  }
  
  .media-boxes-1 .img {
    flex: 0 0 100%;
  }
  
  .media-boxes-1 .text {
    flex: 0 0 100%;
    margin-left: 0;

    text-align: left;
    margin: 0 auto;
  }
  
  .media-boxes-1 .media-box:last-child .text {
    margin: 0 auto;
  }
  
  .media-boxes-1 h2 {
    margin-bottom: 3.33vw;
  }
  
  .media-boxes-1 .media-box:last-child p {
    margin-bottom: 6.66vw;
  }
  
  .media-boxes-1 .download-link img {
    width: 10.6vw;
    margin-right: 5.33vw;
  }

  .media-boxes-1 .media-box:first-of-type {
    margin-bottom: 10vw;
  }
}

/* #Media Boxes 2
================================================== */
.media-boxes-2 {
  padding: 8.33vw 0 4.68vw 0;
}

.media-boxes-2 .img {
  flex: 0 0 56%;
}

.media-boxes-2 .text {
  flex: 0 0 28%;
  margin-left: 1.9vw;
}

.media-boxes-2 .media-box:last-child .text {
  margin-left: 0;
  margin-right: 1.9vw;
}

.media-boxes-2 h2 {
  line-height: 1;
  margin-bottom: 1vw;
}

@media (max-width: 1023.98px) {
  .media-boxes-2 {
    padding: 12vw 0 15.33vw 0;
  }
  
  .media-boxes-2 .text {
    margin: 0 auto;
    text-align: left;
  }
  
  .media-boxes-2 .media-box:last-child .text {
    margin: 0 auto;
  }
  
  .media-boxes-2 h2 {
    margin-bottom: 3.33vw;
  }

  .media-boxes-2 .media-box:first-of-type {
    margin: 0;
    padding: 0;
  }
}

/* #Media Boxes 3
================================================== */
.media-boxes-3 {
  padding: 14.32vw 0 5.2vw 0;
  margin-bottom: 7.8vw;
}

.media-boxes-3 .img {
  flex: 0 0 56%;
}

.media-boxes-3 .text {
  flex: 0 0 28%;
  margin-left: 1.9vw;
}

.media-boxes-3 .media-box:last-child .text {
  margin-left: 0;
  margin-right: 1.9vw;
}

.media-boxes-3 h2 {
  line-height: 1;
  margin-bottom: 1vw;
}

@media (max-width: 1023.98px) {
  .media-boxes-3 {
    padding: 50vw 0 0 0;
    margin-bottom: 0;
  }
  
  .media-boxes-3 .img {
    flex: 0 0 100%;
  }
  
  .media-boxes-3 .text {
    flex: 0 0 100%;
    margin-left: 0;

    text-align: left;
    margin: 0 auto;
  }
  
  .media-boxes-3 .media-box:last-child .text {
    margin: 0 auto;
  }
  
  .media-boxes-3 h2 {
    margin-bottom: 3.33vw;
  }
  
  .media-boxes-3 .media-box:last-child p {
    margin-bottom: 6.66vw;
  }
  
  .media-boxes-3 .download-link img {
    width: 10.6vw;
    margin-right: 5.33vw;
  }

  .media-boxes-3 .media-box:first-of-type {
    margin-bottom: 6.66vw;
  }
}

/* #Sustainability
================================================== */
.sustainability {
  padding: 7.8vw 0 5.2vw 0;
  background-image: url('../img/vision/sustainability.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.sustainability .container {
  width: 72%;
}

.sustainability h2 {
  margin-bottom: 1vw;
}

.sustainability .row {
  display: flex;
  justify-content: space-between;
}

.sustainability .col {
  flex: 0 0 28vw;
}

@media (max-width: 1023.98px) {
  .sustainability {
    padding: 16vw 0;
  }
  
  .sustainability .container {
    width: 89%;
  }
  
  .sustainability h2 {
    margin-bottom: 4vw;
  }
  
  .sustainability .row {
    display: block;
  }
  
  .sustainability .col:first-child {
    margin-bottom: 4vw;
  }
}

/* #Inovation
================================================== */
.inovation .container {
  width: 83%;
  background-color: #8ED974;
  padding: 7.8vw 10vw 9.11vw 10vw;
  position: relative;
}

.inovation h2 {
  text-align: center;
  color: white;
  margin-bottom: 3.33vw;
}

.inovation .row {
  display: flex;
  justify-content: space-between;
}

.inovation .col {
  flex: 0 0 28vw;
}

.inovation .img {
  position: absolute;
  bottom: -10vw;
  right: -4vw;
  width: 26.8vw;
}

@media (max-width: 1023.98px) {
  .inovation .container {
    width: 89%;
    padding: 8vw 6vw 42.6vw 6vw;
  }
  
  .inovation h2 {
    text-align: center;
    color: white;
    margin-bottom: 4vw;
  }
  
  .inovation .row {
    display: block;
  }
  
  .inovation .img {
    bottom: -22vw;
    right: 6.66vw;
    width: 68.6vw;
  }
}